package pages

import (
	"github.com/yacobolo/datastar-go-starter-kit/internal/features/common/layouts"
	ds "github.com/Yacobolo/datastar-templ"
)

templ IndexPage(title string) {
	@layouts.Base(title) {
		<div class="page">
			<div id="todos-container" { ds.Init(ds.Get("/api/todos/updates", ds.Opt("requestCancellation", "disabled")))... }>
				<div class="todo-loading">
					<p>Loading todos...</p>
				</div>
			</div>
			<div id="toast-container" class="toast-container"></div>
		</div>
	}
}
