package components

type page int

const (
	PageIndex page = iota
)

templ Navigation(page page) {
	<nav class="flex justify-center p-4">
		<ul class="flex gap-4">
			<li class={ "hover:text-primary", templ.KV("text-primary font-bold", page == PageIndex) }><a href="/">TODO App</a></li>
		</ul>
	</nav>
}
