package components

type ToastType string

const (
	ToastSuccess ToastType = "success"
	ToastError   ToastType = "error"
	ToastInfo    ToastType = "info"
	ToastWarning ToastType = "warning"
)

templ Toast(message string, toastType ToastType) {
	<div 
		class={ "toast", "toast--" + string(toastType) }
		data-timeout="3000"
		data-on-load="setTimeout(() => $el.remove(), 3000)"
	>
		<span class="toast__message">{ message }</span>
	</div>
}
