package components

import "github.com/yacobolo/datastar-go-blueprint/internal/ui"

type page int

const (
	PageIndex page = iota
)

templ Navigation(page page) {
	<nav class={ ui.Flex, ui.JustifyCenter, ui.PMd }>
		<ul class={ ui.Flex, ui.GapMd }>
			<li class={ ui.HoverTextPrimary, templ.KV(ui.TextPrimary + " " + ui.FontBold, page == PageIndex) }><a href="/">TODO App</a></li>
		</ul>
	</nav>
}
